body{ background-color: #FFFFFF; /* Black Gray */color: #000000; }

figcaption{ text-align: center; }

.imgborder{ border-radius: 5px; width: 350px; height: 300px;}

.bg-4 { background-color: #474e5d; /* Dark Blue */color: #000000;}

footer{ 
	clear: both;
	padding: 5px 0;
	margin-top: 75px;
}
#publicacao {
	text-align: center;
}
#publicacao:hover {
	box-shadow: 0 0 5px #333;
	transform: scale(1.0);
	transition: 0.7s ease-in;
}

.panel-heading{
    font-size:150%;
}

h11 {
    color:red;
}

#logo {
        width:50%;
        height:50%;
}