<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Cadastro de Cliente</title> 
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">  
	
</head>
<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		 <div class="navbar-header">
      		<a class="navbar-brand" href="/">NEWS TECHNOLOGY</a>
    	</div>

		<ul class="nav navbar-nav nav nav-pills collapse navbar-collapse">
			<li><a href="/">INICIO</a></li>
			<li><a href="/produto/listarProdutos">PRODUTOS</a></li>
			<li sec:authorize="hasRole('ADMIN')"><a href="/produto/cadastro">CADASTRAR PRODUTOS</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
      		<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Carrinho </a></li>
      		<li><a href="/cliente/logar"><span class="glyphicon glyphicon-user"></span> Login</a></li>
      		<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
    	</ul>
	</div>
</nav>

<form class="form-horizontal" action="/cliente/salvarCliente" method="POST" th:object="${cliente}">
<fieldset>
<div class="panel panel-primary">
    <div class="panel-heading">Cadastro de Cliente</div>
    
    <div class="panel-body">
<div class="form-group">

<div class="col-md-11 control-label">
        <p class="help-block"><h11>*</h11> Campo Obrigatório </p>
</div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="Nome">Nome <h11>*</h11></label>  
  <div class="col-md-8">
  <input id="Nome" name="Nome" placeholder="" class="form-control input-md" required="" type="text">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="cpf">CPF <h11>*</h11></label>  
  <div class="col-md-2">
  <input id="cpf" name="cpf" placeholder="Apenas números" class="form-control input-md" required="" type="text" maxlength="11" pattern="[0-9]+$">
  </div>
  
  <label class="col-md-1 control-label" for="dtnasc">Nascimento<h11>*</h11></label>  
  <div class="col-md-2">
  <input id="data_nascimento" name="data_nascimento" placeholder="DD/MM/AAAA" class="form-control input-md" required="" type="text" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
</div>

  <label class="col-md-1 control-label" for="radios">Sexo <h11>*</h11></label>
  <div class="col-md-4"> 
    <label required="" class="radio-inline" for="radios-0" >
      <input name="sexo" id="sexo" value="feminino" type="radio" required>
      Feminino
    </label> 
    <label class="radio-inline" for="radios-1">
      <input name="sexo" id="sexo" value="masculino" type="radio">
      Masculino
    </label>
  </div>
  </div>

<div class="form-group">
  <label class="col-md-2 control-label" for="email">Email <h11>*</h11></label>
  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input id="email" name="email" class="form-control" placeholder="email@email.com" required="" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label" for="CEP">CEP <h11>*</h11></label>
  <div class="col-md-2">
    <input id="cep" name="cep" placeholder="Apenas números" class="form-control input-md" required="" value="" type="search" maxlength="8" pattern="[0-9]+$">
  </div>
  <div class="col-md-2">
      <button type="button" class="btn btn-primary" onclick="pesquisacep(cep.value)">Pesquisar</button>
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label" for="prependedtext">Endereço</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">Rua</span>
      <input id="rua" name="rua" class="form-control" placeholder="" required="" readonly="readonly" type="text">
    </div>
    
  </div>
    <div class="col-md-2">
    <div class="input-group">
      <span class="input-group-addon">Nº <h11>*</h11></span>
      <input id="numero" name="numero" class="form-control" placeholder="" required=""  type="text">
    </div>
    
  </div>
  
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-addon">Bairro</span>
      <input id="bairro" name="bairro" class="form-control" placeholder="" required="" readonly="readonly" type="text">
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label" for="prependedtext"></label>
  <div class="col-md-4">
    	<div class="input-group">
      		<span class="input-group-addon">Cidade</span>
      		<input id="cidade" name="cidade" class="form-control" placeholder="" required=""  readonly="readonly" type="text">
    	</div>
  </div>
  
   <div class="col-md-2">
   		<div class="input-group">
      		<span class="input-group-addon">Estado</span>
      		<input id="estado" name="estado" class="form-control" placeholder="" required=""  readonly="readonly" type="text">
    	</div>    
  	</div>
</div>
   <div class="form-group">
	  	<label class="col-md-2 control-label" for="login">Login <h11>*</h11></label>
	  	<div class="col-md-2">
	    	<input id="login" name="login" placeholder="" class="form-control input-md" required="" value="" type="text">
		</div>
	</div>
	
	<div class="form-group">
	  	<label class="col-md-2 control-label" for="senha">Senha <h11>*</h11></label>
	  	<div class="col-md-2">
	    	<input id="senha" name="senha" placeholder="Letras e Números" class="form-control input-md" required="" value="" type="password">
		</div>
  	</div>
  	<div class="form-group">
  		<button type="submit" class="btn btn-primary">Cadastrar</button>
  		<button type="reset" class="btn btn-danger">Cancelar</button>
  	 	<div class="col-md-2">
  		</div>
  	</div>
  	
  </fieldset>
</form>

<footer class="container-fluid bg-4 text-center margin">
	<div class="container">
		<p>Design do site / logotipo © 2018 for Natanael</p>
	</div>
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script> -->
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>